# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with: 
          node-version: 12.x 
      - run: npm install
      - run: npm run test
      - run: npm run lint
      - run: docker build . -t salesforce/cix:local
      - run: npm run itest
      - run: docker tag salesforce/cix:local -t ghcr.io/salesforce/cix:latest
      - run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u cix-team --password-stdin
      - run: docker push ghcr.io/salesforce/cix:latest
